In [2]:
import pandas as pd
import numpy as np

In [3]:
dict={'first score':[100,90,np.nan,95],
      'secondscore':[np.nan,45,56,np.nan],
      'third score':[np.nan,40,80,98]}
print(dict)

{'first score': [100, 90, nan, 95], 'secondscore': [nan, 45, 56, nan], 'third score': [nan, 40, 80, 98]}

In [4]:
type(dict)

dict

In [9]:
df=pd.DataFrame(dict)
print(df)
print(df.to_string())
type(df)
print(df.isnull())
print(df.notnull())

   first score  secondscore  third score
0        100.0          NaN          NaN
1         90.0         45.0         40.0
2          NaN         56.0         80.0
3         95.0          NaN         98.0
   first score  secondscore  third score
0        100.0          NaN          NaN
1         90.0         45.0         40.0
2          NaN         56.0         80.0
3         95.0          NaN         98.0
   first score  secondscore  third score
0        False         True         True
1        False        False        False
2         True        False        False
3        False         True        False
   first score  secondscore  third score
0         True        False        False
1         True         True         True
2        False         True         True
3         True        False         True

In [12]:
print(df.fillna(method='pad'))

   first score  secondscore  third score
0        100.0          NaN          NaN
1         90.0         45.0         40.0
2         90.0         56.0         80.0
3         95.0         56.0         98.0

C:\Users\Sarthak Tiwari\AppData\Local\Temp\ipykernel_27432\3542362975.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='pad'))

In [11]:
print(df.replace(to_replace=np.nan, value=40))

   first score  secondscore  third score
0        100.0         40.0         40.0
1         90.0         45.0         40.0
2         40.0         56.0         80.0
3         95.0         40.0         98.0

In [13]:
df_mean=df.mean()
print(df_mean)

first score    95.000000
secondscore    50.500000
third score    72.666667
dtype: float64

In [15]:
data_new=df.fillna(df.mean())
print(data_new)

   first score  secondscore  third score
0        100.0         50.5    72.666667
1         90.0         45.0    40.000000
2         95.0         56.0    80.000000
3         95.0         50.5    98.000000

In [16]:
df.dropna(how='all')
print(df)

   first score  secondscore  third score
0        100.0          NaN          NaN
1         90.0         45.0         40.0
2          NaN         56.0         80.0
3         95.0          NaN         98.0